/**
 * Template Front Page Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

#front-page {
    #banner {
        position: relative;
        height: fit-content;
        min-height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond(tab-port) {
            min-height: unset;
            padding-bottom: 0;
        }
        figure {
            width: 0;
            height: 0;
        }
        .container {
            width: 100%;
        }
        .banner-img img, .banner-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
        }
        .column-50 {
            position: relative;
            z-index: 1;
            @include respond(desktop) {
                width: 100%;
            }
            h1 {
                color: $white;
                font-weight: $normal;
                font-size: 45px;
                text-transform: none;
                letter-spacing: 0px;
                line-height: 120%;
                text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.9);   
                @include respond(tab-port) {
                    font-size: 35px;
                    max-width: 70%;
                    padding-top: 50px;
                }
                @include respond( phone ) {
                    font-size: 25px;
                    padding-top: 150px;
                    max-width: 100%;
                }
            }
            .phone-number {
                display: block;
                font-weight: $normal;
                text-transform: uppercase;
                font-size: 45px;
                letter-spacing: -1px;
                color: $white;
                line-height: 110%;
                margin: 30px 0px 15px 0px;
                text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
                padding-left: 55px;
                position: relative;
                @include respond(tab-port) {
                    font-size: 35px;
                    padding-left: 45px;
                    max-width: 70%;
                }
                @include respond(phone) {
                    font-size: 25px;
                    margin-bottom: 70px;
                    max-width: 100%;
                    padding-left: 40px;
                }
                &:before {
                    content: "\e90b";
                    font-family: $icomoon;
                    height: 25px;
                    width: 25px;
                    padding: 10px;
                    background: $blue;
                    border-radius: 50%;
                    font-size: 20px;
                    display: block;
                    line-height: normal;
                    text-align: center;
                    position: absolute;
                    left: 0;
                    bottom: 3px;
                    @include respond(tab-port) {
                        height: 15px;
                        width: 15px;
                        font-size: 16px;
                    }
                    @include respond(phone) {
                        font-size: 14px;
                        height: 12px;
                        width: 12px;
                    }
                }
            }
            a.btn.arrow {
                display: block;
                text-decoration: none;
                width: 80%;
                margin-bottom: 20px !important;
                span {
                    text-decoration: underline;
                    text-transform: uppercase;
                    font-weight: $bold;
                    font-size: 18px;
                }
            }
            .featured-links-wrapper {
                @include respond(tab-port) {
                    left: -30px;
                    width: 100%;
                    position: relative;
                    a.btn.arrow {
                        margin-bottom: 0 !important;
                        border-top: solid 1px $white;
                        border-bottom: solid 1px $white;
                        border-left: solid 2px $white;
                        border-right: solid 2px $white;
                        width: 100%;
                    }
                }
            }
        }
    }
    #panel-3 {
        h2 {
            text-align: center;
        }
        .services-section {
            background: $white;
            padding: 25px 25px 50px 25px;
            margin-bottom: 50px;
            margin-top: 20px;
            h3 {
                text-align: center;
                text-transform: uppercase;
                font-size: 22px;
                line-height: 110%;
                margin-bottom: 33px;
                color: $blue;
            }
            img {
                margin-bottom: 20px;
            }
            p {
                font-size: 25px;
                &.service-title {
                    text-align: center;
                }
            }
            .inner-wrapper {
                display: flex;
                justify-content: center;
                @include respond(tab-port) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .service {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0 80px;
                    @include respond(desktop) {
                        padding: 0 25px;
                    }
                    @include respond(tab-port) {
                        padding: 25px;
                    }
                    img {
                        max-width: 50px;
                    }
                    &:first-of-type {
                        border-right: solid 1px $offwhite;
                        @include respond(tab-port) {
                            border-right: 0;
                            border-bottom: solid 1px $offwhite;
                        }
                    }
                    &:last-of-type {
                        border-left: solid 1px $offwhite;
                        @include respond(tab-port) {
                            border-left: 0;
                            border-top: solid 1px $offwhite;
                        }
                    }
                }
            }
        }
        .pa-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            @include respond(phone) {
                grid-template-columns: 1fr;
                grid-gap: 10px;
            }
            a.btn {
                width: -webkit-fill-available;
                width: -moz-available;
                @include respond(phone) {
                    padding: 20px 35px 20px 20px;
                }
            }
        }
        .p3-image img {
            @include respond(tab-port) {
                height: 300px;
                width: calc(100% + 60px);
                max-width: calc(100% + 60px);
                position: relative;
                left: -30px;
                object-fit: cover;
                object-position: center;
                margin: 30px 0;
            }
        }
    }
    #panel-4 {
        h2, p {
            text-align: center;
        }
        h2 {
            font-weight: $normal;
            margin-bottom: 30px !important;
        }
        .header-underline {
            height: 1px;
            width: 100%;
            background: $white;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
            &:after {
                content: "";
                width: 32px;
                height: 32px;
                background: url('/wp-content/uploads/2024/05/header_icon-1.png') no-repeat;
                background-position: center;
                background-size: 93%;
                background-color: $white;
                border: solid 1px $white;
                border-radius: 50%;
            }
        }
    }
    #panel-5 {
        .p5-image img {
            @include respond(tab-port) {
                height: 300px;
                width: calc(100% + 60px);
                max-width: calc(100% + 60px);
                position: relative;
                left: -30px;
                object-fit: cover;
                object-position: center;
                margin-top: 30px;
            }
        }
    }
    #panel-6 {
        h3 {
            text-align: center;
            text-transform: uppercase;
        }
        .practice-areas {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            @include respond(phone) {
                gap: 0;
            }
            .practice-area {
                display: flex;
                flex-direction: column;
                padding: 15px 0;
                img {
                    width: 100%;
                    height: 168px;
                    object-fit: cover;
                    object-position: center;
                    margin-bottom: 15px;
                }
                .copy {
                    background: $ltgrey;
                    flex-grow: 1;
                    .practice-area-title {
                        color: $blue;
                        margin: 15px 15px 0 15px !important;
                        padding-left: 15px;
                        border-left: solid 5px $dkblue;
                        text-transform: uppercase;
                        font-size: 20px;
                    }
                    .copy {
                        padding: 15px;
                    }
                    .pa-btn {
                        display: block;
                        padding: 15px 15px 15px 45px;
                        position: relative;
                        &:before {
                            display: flex !important;
                            justify-content: center;
                            align-items: center;
                            content: "\e909";
                            font-family: $icomoon;
                            color: $white;
                            height: 20px;
                            width: 20px;
                            background: $mdgrey;
                            border-radius: 50%;
                            font-size: 12px;
                            font-weight: $bold;
                            display: block;
                            line-height: normal;
                            text-align: center;
                            position: absolute;
                            left: 15px;
                            transition: $trans;
                        }
                        &:hover {
                            &:before {
                                background: $blue;
                            }
                        }
                    }
                }
            }
        }
    }
    #panel-7 {
        padding: 0;
        .container {
            @include respond(tab-land) {
                padding: 0 !important;
            }
            @include respond(tab-port) {
                padding: 0 !important;
            }
            .columns {
                @include respond(tab-land) {
                    flex-direction: column;    
                }
                .column-66 {
                    padding: 80px 0;
                    @include respond(tab-land) {
                        padding: 80px 50px;
                    }
                    @include respond(tab-port) {
                        padding: 80px 50px;
                    }
                }
                .column-66,
                .column-33 {
                    @include respond(tab-land) {
                        width: 100%;
                    }
                }
            }
        }
        
        
        .contact-wrapper {
            background: $mdblue;
            padding: 30px 30px 50px 30px;
            p {
                text-align: center;
                font-size: 18px;
                line-height: 25px;
                text-transform: uppercase;

            }
            .phone-number {
                display: block;
                font-size: 40px;
                font-weight: $bold;
                line-height: 110%;
                letter-spacing: 1px;
                margin-bottom: 30px;
                text-align: center;
                text-decoration: underline;
            }
        }
    }
    #panel-8 {
        .hand-icon {
            display: block;
            margin: 0 auto;
            width: fit-content;
            &:before {
                content: "\e9ca";
                display: block;
                font-family: icomoon;
                font-size: 74px;
                font-weight: 100;
                margin: 0 0 30px;
                color: $dkblue;
            }
        }
        h2, p {
            text-align: center;
        }
    }
    #panel-9 {
        position: relative;
        background-color: $offgrey;
        overflow: hidden;
        @include respond(tab-port) {
            padding-top: 0;
        }
        .p9-image img {
            position: absolute;
            width: 1200px;
            top: 0;
            left: 0;
            @include respond(tab-port) {
                height: 400px;
                width: 100%;
                object-fit: cover;
                object-position: top;
                position: relative;
            }
            @include respond(phone) {
                height: 300px;
            }
        }
        div.column-50 {
            &:last-of-type {
                background: #f0eae87a;
                padding: 20px;
                @include respond(desktop) {
                    width: 100%;
                }
            }
        }
    }

    #panel-10 {
        h2 {
            width: 100%;
            font-weight: $normal;
            border-bottom: solid 1px $white;
        }
        .videos {
            display: flex;
            justify-content: space-between;
            gap: 50px;
            margin: 50px 0;
            @include respond(tab-port) {
                flex-direction: column;
            }
            .responsive-iframe {
                position: relative;
                overflow: hidden;
                width: 100%;
                padding-top: calc( 56.25% / 2 );
                @include respond(tab-port) {
                    padding-top: 56.25%;
                }
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    #panel-11 {
        h2 {
            font-weight: $normal;
            border-bottom: solid 1px $white;
        }
        .areas-served {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            @include respond(phone) {
                grid-template-columns: 1fr;
                gap: 15px;
            }

            .area-title {
                font-weight: $bold;
                margin-bottom: 0 !important;
                text-align: center;
                text-transform: uppercase;
                &.fake-btn {
                    background: $dkblue;
                    padding: 16px 45px;
                }
                a {
                    display: block;
                    background: $dkblue;
                    padding: 16px 45px;
                    &:hover {
                        background: $ltblue;
                    }
                }

                
                    
                
            }
        }
    }
}