/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package Postali Child
 * @author Postali LLC
*/

ul#wp-admin-bar-root-default {
	margin: 0 !important;
}
html {
	scroll-behavior: smooth;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	border: 0;
}

html, body {
	font-size: 18px;
	line-height: 1;
}

header, nav, footer, article, section { 
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: bold;
}

ul {
	list-style-type: disc;
	margin-left:20px;
}

ol {
	margin-left:20px;
}

blockquote {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}
 
body {
	background:$white;
}

.container {
    max-width:$desktop-lg;
    padding: 0 60px;
	z-index: 1;
	position: relative;
	@include respond(desktop-lg) {
		padding:0 50px !important;
	}
    @include respond(tab-port) {
        padding: 0 30px !important;
    }
	&.wide {
		max-width: 100%;
		margin:0 50px;
		@include respond(desktop-lg) {
			padding:100px 50px !important;
		}
		@include respond(tab-port) {
			padding: 60px 30px !important;
			margin:0 30px;
		}
	}
}

section {
    padding: 80px 0;
    @include respond(tab-port) {
        padding: 60px 0;
    }
    @include respond(phone) {
        padding: 40px 0;
    }
}

// columns and spacers //

.columns {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	align-items: flex-start;
	.column-20,
    .column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
        display:flex;
		position: relative;
		box-sizing: border-box;
		justify-content: flex-start;
		align-items: normal;
		flex-wrap: wrap;
		&.block {
			display: block;
		}
	}
	.column-break {
		width:100%;
		height:1px;
	}
	.column-20 {
		width:19.5%;
    }
    .column-25 {
		width:23%;
    }
    .column-50 {
		width:45%;
    }
    .column-33 {
		width:30%;
    }
    .column-66 {
		width:63%;
    }
    .column-75 {
		width:66%;
    }
    .column-full {
		width:100%;
		justify-content: space-between;
	}
	.column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
		@include respond(tab-port) {
			width:100%;
		}
		&.center {
			margin:0 auto;
		}
	}
}

// spacing elements //

.spacer-break,
.spacer-15,
.spacer-30,
.spacer-60,
.spacer-90 {
    display:block;
	width:100%;
	@include respond(phone) {
		&.mobile {
			display:none;
		}
	}
}
.spacer-break { height:1px; }
.spacer-15 { height:15px; }
.spacer-30 { height:30px; }
.spacer-60 { height:60px; }
.spacer-90 { height:90px; }

// accordion styles //

.accordions {
    width:100%;
	margin-bottom: 5px !important;
    &_title  {
		display: flex;
		background-color: $grey;
		cursor: pointer;
		padding: 20px 40px;
		text-align: left;
		color:$blk;
		transition:$trans;
		margin-bottom: 0 !important;
		font-size:22px;
		font-weight:$normal;
		font-family: $sans;
		position: relative;
		&:after {
			content: "+";
			font-size: 16px;
			position: absolute;
			width: 20px;
			height: 20px;
			color: $white;
			background-color: $dkgrey;
			border-radius: 50%;
			right: 20px;
			top: calc(50% - 10.5px);
			display: flex;
			justify-content: center;
			align-items: center;
			padding-bottom: 1px;
			transition: $trans;
		}
		&.active {
			&:after {
				transform: rotate(45deg);
			}
		}
        span {
            align-self:center;
            justify-self:end;
            display: block;
            &:after {
                content: "+";
                display: inline-block;
                transition:$trans;
                font-size:16px;
                position: relative;
                color:$white;
                margin-left:5px;
                font-size:30px;
            }
        }
        
        &.active {
            background-color:$grey;
            span {
                &:after {
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }

    &_content {
        display: none;
		padding: 20px 40px;
		text-align: left;
		background: $grey;
		margin-bottom: 0 !important;
		.headline {
			color: $white;
			font-size: 32px;
			margin-bottom: 20px;
			display: block;
			font-family:$sans;
			font-weight: 700;
		}
        p {
            color:$white;
        }
        ul {
            color:$white;
        }
    }
}

// Drop Downs
#app-cover {
	@include drop-down-select;
}

// slider arrows 
.prev,
.next {
	cursor: pointer;
}
#awards {
	display: grid;
	.slick-track {
		display:flex;
	}
	.prev {
		position: absolute;
		left: 0;
		top: 50px;
		border: none;
		height: 36px;
		width: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $grey;
		&:before {
			position: absolute;
			content: "\e905";
			color: $white;
			font-family: $icomoon;
			font-size: 15px;
		}
	}
	.next {
		position: absolute;
		right: 0;
		top:50px;
		border: none;
		height: 36px;
		width: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: $grey;
		&:before {
			position: absolute;
			content: "\e902";
			color: $white;
			font-family: $icomoon;
			font-size: 15px;
			margin-left: 5px;
		}
	}
}

.grey-bg {
	background: $grey;
}

.dk-grey-bg {
	background: $dkgrey;
	p, li, a, h1, h2, h3, h4, h5, h6, label {
		color: $white;
	}
}

.blue-bg {
	background: $altblue;
	p, li, a, h1, h2, h3, h4, h5, h6, label {
		color: $white;
	}
}

#banner {
	margin-top: 130px;
}

#award-slider-block {
	@include respond(phone) {
		padding: 20px 0 !important;
	}
}
.awards-slider {
	margin: 30px 0;
	.slick-track {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.award {
		display: flex !important;
		justify-content: center;
		align-items: center;
		img {
			width: 200px;
			height: auto;
			object-fit: contain;
			@include respond(phone) {
				max-height: 100px !important;
			}
		}
	}
}

.gform_wrapper {
	.gform_required_legend {
		font-size: 16px;
		margin-bottom: 5px !important;
	}
	input, select {
		width: 100%;
		padding: 15px 12px !important;
		margin-bottom: 0px;
		border: 1px solid $white;
		background: $white;
		text-transform: uppercase;
		font-family: $sans;
		font-style: $normal;
		font-weight: 400;
		font-size: 14px;
		box-sizing: border-box;
		transition: $trans;
		-webkit-appearance: none;
		-webkit-border-radius: 0;
	}
	input[type="submit"] {
		margin-top: 15px;
		padding: 15px 10px;
		background: $blue;
		color: $white;
		border: 0px;
		font-size: 15px;
		box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.3);
	}
	.ginput_container_select {
		position: relative;
		&:after {
			content: "\e909";
			font-family: $icomoon;
			font-size: 20px;
			color: $blue;
			transform: rotate(90deg);
			position: absolute;
			right: 20px;
			top: calc(50% - 10px);
			pointer-events: none;
		}
	}
}

.social-icon {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 50px;
	height: 50px;
	&:hover {
		&:before {
			color: $white;
		}
	}
	&:before {
		font-family: $icomoon;
		font-size: 50px;
		color: $blue;
		position: absolute;
	}
	&.facebook_link {
		&:before {
			content: "\e902";
			font-size: 37px;
		}
	}
	&.twitter_link {
		&:before {
			content: "\e905";
			font-size: 35px;
		}
	}
	&.youtube_link {
		&:before {
			content: "\e906";
			font-size: 45px;
		}
	}
}

#breadcrumbs {
	padding: 0;
	margin: 0 !important;
	a, p, span {
		color: $white;
		font-family: $sans;
		font-size: 13px;
	}
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	ul {
		display: flex;
		flex-wrap: wrap;
		width: fit-content;
		margin: 0 auto !important;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 15px;

		li {
			margin: 0;
			height: 37px;
			display: flex;
			justify-content: center;
			align-items: center;

			&:before {
				display: none;
			}

			a {
				text-decoration: none;
				transition: $trans;
				height: fit-content;
				width: fit-content;
				color: $blk;
				padding: 6px 14px;
			}

			a:not(.prev):not(.next) {
				&:hover {
					background: $blue;
					color: $white;
				}
			}

			.page-numbers {
				&.current {
					background: $blue;
					color: $white;
					padding: 6px 14px;
				}

				&.prev,
				&.next {
					display: block;
					width: fit-content;
					transition: $trans;

					&:hover {
						background: $blue;

						&:before {
							color: $white;
						}
					}

					&:before {
						content: "";
						font-family: $icomoon;
						width: 20px;
						height: 20px;
					}
				}

				&.prev {
					&:before {
						content: '\e908';
					}
				}

				&.next {
					&:before {
						content: '\e909';
					}
				}
			}
		}
	}
}
.sidebar {
	background: #ebecec;
	border-left: solid 25px $ltgrey;
	border-right: solid 25px $ltgrey;
	padding: 50px 20px;
	height: calc(100% - 100px);
	@include respond(desktop) {
		border-left: solid 15px $ltgrey;
		border-right: solid 15px $ltgrey;
	}

	@include respond(tab-land) {
		border-left: solid 5px $ltgrey;
		border-right: solid 5px $ltgrey;
		padding: 50px 10px;
	}

	@include respond(tab-port) {
		position: relative;
		border-left: 0;
		border-right: 0;
		padding: 50px 20px;
		left: -30px;
		min-width: calc(100% - 60px);
		padding: 50px 60px;
	}

	@include respond(phone) {
		padding: 50px 30px;
		min-width: 100%;
	}

	img {
		width: 100%;
		height: auto;

		@include respond(tab-port) {
			max-width: 80%;
			margin: 0 auto;
		}

		@include respond(phone) {
			max-width: 100%;
			margin: 0 auto;
		}
	}

	h5 {
		background: #d9dada;
		color: $blk;
		padding: 15px;
		text-transform: uppercase;
		margin-top: 45px;
		font-size: 22px;

		@include respond(desktop) {
			font-size: 20px;
			padding: 10px;
		}
	}

	ul {
		list-style: none;
		margin: 20px 0 0 0;
		padding: 0;

		li {
			margin: 0;
			padding: 8px 2px 10px 2px;
			line-height: 110%;
			border-bottom: solid 1px #ccc;

			a {
				color: $blk;
				font-weight: $normal;
				text-decoration: none;
				font-size: 16px;
				transition: $trans;

				&:hover {
					color: $blue;
				}
			}
		}
	}
	.featured-pages {
		.featured-link {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;
			margin-bottom: 20px;

			&:last-of-type {
				margin-bottom: 0;
			}

			p {
				position: absolute;
				text-align: center;
				color: $white;
				text-transform: uppercase;
				margin-bottom: 0 !important;
			}

			.featured-icon {
				filter: invert(1) brightness(100%);
				width: 30px !important;
				height: 30px !important;
				object-fit: contain;
				position: absolute;
				top: 15px;
			}

			.inner-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;

				p,
				.featured-icon {
					position: relative;
					top: unset;
					left: unset;
				}
			}
		}
	}
	.pa-menu {
		list-style-type: disc !important;
		padding-left: 25px;
		li {
			&::marker {
				color: $altblue !important;
			}
			a {
				color: $altblue !important;
				font-weight: $bold;
				&:hover {
					text-decoration: underline !important;
				}
			}
		} 
	}
}
.flex-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	column-gap: 20px;
	row-gap: 10px;
	li {
		margin:0 !important;
		padding: 0 !important;
		&:before {
			display: none;
		}
	}
}
.state_header {
	font-weight: $bold;
	scroll-margin-top: 150px;
}