@include respond(tab-land) {

    @keyframes slideover {
        0% { left:100%; margin-left: 100%; }
        100% { left:0; margin-left: 0;}
    }
    
    @-webkit-keyframes slideover {
        0% { left:100%; margin-left: 100%; }
        100% { left:0; margin-left: 0;}
    }

    @keyframes slideback {
        0% { left:0; margin-left: 0; }
        100% { left:100%; left:100%; }
    }
    
    @-webkit-keyframes slideback {
        0% { left:0; margin-left: 0; }
        100% { left:100%; left:100%; }
    }
   
    header {    
        padding-bottom: 30px;
        #header-top {
            max-width: 100%;
            &_left {
                width:auto;
                justify-content: flex-start;
                a {
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            
            &_right {
                &_menu {
                    #menu-main-menu, #menu-spanish-header-menu {
                        display:block;
                        flex-wrap: wrap;
                        padding: 0 !important;
                        top: 85px;
                        background: $white;
                        margin:0;
                        position: absolute;
                        left: 100%;
                        width: calc(100% - 50px);
                        box-sizing: border-box;
                        height: calc(100vh - 96px);
                        overflow: visible;
                        position: absolute !important;

                        &.opened {
                            -webkit-animation: .5s ease 0s normal forwards 1 slideover;
                            animation: .5s ease 0s normal forwards 1 slideover;

                            &::before {
                                position: absolute;
                                top:-93px;
                                height:96px;
                                width: 100%;
                                content:"";
                            }
                        }

                        &.closed {
                            -webkit-animation: .5s ease 0s normal forwards 1 slideback;
                            animation: .5s ease 0s normal forwards 1 slideback;
                        }

                        li {
                            display:flex;
                            margin: 0;
                            flex-wrap: wrap;
                            padding-bottom: 0;
                            padding: 0;
                            height:55px;

                            &::after {
                                position: absolute;
                                bottom: 0;
                                content: "";
                                left: 30px;
                                width: calc(100% - 60px);
                                background: $blk;
                                height: 1px;
                                opacity: .2;
                            }

                            &:nth-child(1) {
                                .sub-menu {
                                    top:0;

                                    @include mobile-subnav-menus;
                                }
                            }

                            &:nth-child(2) {
                                .sub-menu {
                                    top:-56px !important;

                                    @include mobile-subnav-menus;
                                }
                            }

                            &:nth-child(3) {
                                .sub-menu {
                                    top:-112px !important;

                                    @include mobile-subnav-menus;
                                }
                            }

                            &:nth-child(4) {
                                .sub-menu {
                                    top:-168px !important;

                                    @include mobile-subnav-menus;
                                }
                            }

                            &:nth-child(5) {
                                .sub-menu {
                                    top:-224px !important;

                                    @include mobile-subnav-menus;
                                }
                            }

                            &:nth-child(6) {
                                .sub-menu {
                                    top:-280px !important;

                                    @include mobile-subnav-menus;
                                }
                            }

                            &.nav-contact {
                                margin:0 12px 0 30px;
                                
                                a {
                                    width: calc(100% - 20px) !important;
                                    display: flex;
                                    justify-content: center;
                                    box-sizing: border-box;
                                }
                            }

                            .accordion-toggle, .accordion-toggle2 {
                                position: absolute;
                                top: 18px;
                                right: 30px;
                                z-index: 99;
                                width: 20px;
                                height: 20px;
                                transition:$trans;
                                display:flex;
                                justify-content: center;
                                align-items: center;

                                &:before {
                                    content: "\e907";
                                    font-family: $icomoon;
                                    color: $blk;
                                    font-size: 10px;
                                    transform: rotate(-95deg);
                                }

                                &.toggle-background {
                                    transform: rotate(180deg) !important;
                                    transition:$trans;
                                } 
                            } 

                            // hover states to display sub-menu
                            &:hover, 
                            > a:focus ~, 
                            > a:focus-visible ~ {
                                a {
                                    &:before {
                                        right: 20px;
                                    }
                                }

                                .sub-menu {
                                    -webkit-animation:none;
                                    animation:none;
    
                                    li {
                                        a {
                                            background:none;
                                            // color:$white !important;
    
                                            &:hover {
                                                // color:$white !important;
                                            }
                                        }
    
                                        // nested 3rd level flyout
                                        .sub-menu {
                                            display:none;
                                            position: absolute;
                                            top: 0 !important;
                                            margin-left: 100%;
    
                                            &:hover {
                                                display:block;
                                            }
                                        }
                                    }
                                }
                            }
                            .sub-menu {
                                li {
                                    a {
                                        color: $blk !important;
                                    }
                                    &:hover {
                                        a {
                                            color: $blue !important;
                                        }
                                    }
                                    .sub-menu.opened {
                                        margin: 0 !important;
                                    }
                                }
                            }

                            // active menu states for current page / current parent
                            &.current-menu-parent,
                            &.current-menu-item,
                            &.current-page-ancestor {
                                a {
                                    color:$blue;
                                    background:none;

                                    &:before {
                                        display:none !important;
                                    }
                                }

                                &:hover {
                                    a {
                                        color:inherit;
                                        text-decoration: underline;
                                    }

                                    .sub-menu {
                                        left:0;
    
                                        .current_page_item {
                                            a {
                                                color:inherit !important;
                                            }
                                        }
                                    }
                                }
                            }

                            a {
                                &:before {
                                    display:none;
                                }
                            }

                            @include nav-search-mobile;

                            a {
                                display: inline-block;
                                padding:20px 30px !important;
                                width: calc(100% - 120px) !important;
                                font-size: 16px;
                            }

                            .sub-menu {
                                position: absolute;
                                width: 100%;
                                left: 100%;
                                padding: 55px 0 0 0 !important;
                                transition: none;
                                margin-bottom: 0;
                                top: 0 !important;
                                box-sizing: border-box;
                                transition:$trans;
                                z-index: 100 !important;
                                height: calc(100vh - 250px);
                                display: block !important;
                                overflow-y: scroll;

                                .child-close {
                                    position: absolute;
                                    top: 15px;
                                    left: 30px;
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    font-weight: bold;
                                    letter-spacing: 1px;
                                    display: flex;
                                    align-items: center;
                                    border-radius: 50px;
                                    padding:10px;
                                    background: $grey;
                                    color: $blk;
                                    border: solid 1px $blk;
                                }

                                &.opened {
                                    -webkit-animation: .5s ease 0s normal forwards 1 slideover;
                                    animation: .5s ease 0s normal forwards 1 slideover;
                                }

                                &.closed {
                                    -webkit-animation: .5s ease 0s normal forwards 1 slideback;
                                    animation: .5s ease 0s normal forwards 1 slideback;
                                }

                                li {
                                    height:55px;

                                    .sub-menu {
                                        .tertiary-close {
                                            position: absolute;
                                            top: 14px;
                                            left: 13px;
                                            text-transform: uppercase;
                                            font-size: 14px;
                                            font-weight: bold;
                                            letter-spacing: 1px;
                                            display: flex !important;
                                            justify-content: center;
                                            align-items: center;
                                            height: 25px;
                                            width: 75px;
                                            border: solid 1px $blk;
                                            border-radius: 50px;
                                            padding: 5px 0px;
                                        }

                                        &.opened {
                                            -webkit-animation: .3s ease 0s normal forwards 1 slideover;
                                            animation: .3s ease 0s normal forwards 1 slideover;
                                        }
        
                                        &.closed {
                                            -webkit-animation: .3s ease 0s normal forwards 1 slideback;
                                            animation: .3s ease 0s normal forwards 1 slideback;
                                        }
                                    }
                                }
                            }
                            &.menu-item-has-children {
                                .sub-menu {
                                    padding: 55px 0 0 0 !important;
                                }
                            }
                        }
                    }

                    #header-top_mobile {
                        display: block;
                        position: absolute;
                        top: 35px;
                        right: 88px;

                        #menu-icon {
                            width: 40px;
                            height: 25px;
                            position: relative;
                            display: block;
                            margin-top: 0;
                            margin-right: 0;
                            transition: all 0.4s;
                            -webkit-transition: all 0.4s;
                            -moz-transition: all 0.4s;
            
                            .line {
                                display: block;
                                background:$blue;
                                width: 40px;
                                height: 2px;
                                position: absolute;
                                left: 0;
                                transition: all 0.4s;
                                -webkit-transition: all 0.4s;
                                -moz-transition: all 0.4s;
            
                                    &.line-1 {
                                        top: 0;
                                    }
            
                                    &.line-2 {
                                        top: 50%;
                                        width:80%;
                                        right:0;
                                        left:auto;
                                    }
            
                                    &.line-3 {
                                        top: 100%;
                                        width:60%;
                                        right:0;
                                        left:auto;
                                    }
                                }
            
                                &.active {
                                    transform: rotateY(180deg);
                                    
                                    .line-1 {
                                        transform: translateY(12px) translateX(0) rotate(45deg);
                                        -webkit-transform: translateY(12px) translateX(0) rotate(45deg);
                                        -moz-transform: translateY(12px) translateX(0) rotate(45deg);
                                    }
            
                                    .line-2 {
                                        opacity: 0;
                                    }
            
                                   .line-3 {
                                        transform: translateY(-12px) translateX(0) rotate(-45deg);
                                        -webkit-transform: translateY(-12px) translateX(0) rotate(-45deg);
                                        -moz-transform: translateY(-12px) translateX(0) rotate(-45deg);
                                        width: 100%;
                                    }
                                }
            
                                &.toggle-nav {
                                    transition-delay:.1s;
            
                                    &.active {
                                        transition-delay:.1s;
                                    }
                                }
                            }
                    }
                }
            }
        }
    }
}